@import './variables.css';

/* Reset & Base Styles */
html,
body,
#root {
    height: 100%;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}